/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
  height: 2000px;
}
* {
  font-family: 'Nunito', sans-serif;
}
.header {
  background-color: #f07167;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav {
  padding: 25px;
}
.menu {
  margin: 0 70px;
  display: flex;
  justify-content: space-around;
}
.menu_link {
  font-size: 16px;
  color: #fff;
  letter-spacing: 2.2px;
}
.name {
  margin-top: 49px;
  font-family: 'Alex Brush', cursive;
  font-size: 70px;
  color: #f07167;
  text-align: end;
}
.avatar {
  width: 350px;
  height: 450px;
  border-radius: 10px;
}
.about {
  padding: 45px 270px 10px;
  display: flex;
  justify-content: space-between;
}
.subtitle {
  margin: 10px 0 0 81px;
  font-size: 20px;
  font-weight: bold;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 60px 0 0 80px;
  color: #f07167;
}
.descr {
  font-size: 18px;
  margin: 18px 0 0 80px;
}
.experience_wrapper {
  display: flex;
  justify-content: space-around;
}
.exp_left,
.exp_right {
  width: 600px;
}
.skills_list {
  margin: 18px 0 0 180px;
}
.skills_list li {
  font-size: 18px;
  margin-bottom: 15px;
}
.skills_list li:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
	margin-right: 15px;
  background-color: #f07167;
}
.experience {
  padding: 0 55px;
}
.exp_right .title {
  margin: 60px 0 0 180px;
}
.exp_left .subtitle {
  margin-top: 28px;
}
.exp_left .descr:nth-child(5) {
  margin-top: 7px;
} 
